<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Nikesh Maharjan" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Information</title>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/MainPanel/css/style.css" />
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row row-margin">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            Add Information
                        </div>
                        <div class="card-body">
                            <form name="Infoform"" method="post" action="/saveinfo">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input class="form-control" type="text" name="firstName" required/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input class="form-control" type="text" name="lastName" required/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input class="form-control" type="email" name="email" required/>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-success" type="submit">Add Information</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
