<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Nikesh Maharjan">
        <meta name="viewport" content="width=device-width , initial - scale 1.0" />
        <title>Index Page</title>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!--<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="assets/MainPanel/css/style.css" type="text/css"/>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
        <link rel="stylesheet" href="assets/MainPanel/font-awesome/css/font-awesome.min.css"/>

    </head>
    <body ng-app="myApp">
        <div ng-controller="myCtrl">
            <div class ="container">
                <div>
                    <p>Message : {{message}}</p>
                </div>
                <div class="row row-margin float-right">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus-circle"></i> Add Info
                    </button>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header modal-header-primary">
                                <h5 class="modal-title" id="exampleModalLabel">Add Information</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form name="form">
                                    <div class="form-group">
                                        <label class="control-label">First Name</label>
                                        <input type="text" class="form-control" ng-model="user.firstName" name="firstName"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" class="form-control" ng-model="user.lastName" name="lastName"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input type="email" class="form-control" ng-model="user.email" name="email"/>
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" ng-click="onSubmit()" data-dismiss="modal" >Add Info</button>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Message</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class=" table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in info">
                            <td>{{$index + 1}}</td>
                            <td>{{x.firstName}}</td>
                            <td>{{x.lastName}}</td>
                            <td>{{x.email}}</td>
                            <td><a href="" ng-click="delete(x)"><i class="fa fa-trash-o fa-2x"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--container close-->
        </div>
        <script>
            var app = angular.module("myApp", []);
            app.controller("myCtrl", function ($scope, $http) {
                $http.get("api/info").then(function (response) {
                    $scope.info = response.data.data;
                });
                $scope.user = {};
                $scope.onSubmit = function () {
                    $http.post("api/saveinfo", $scope.user).then(function (response) {
                        $scope.info = response.data.data;
                        $scope.message = response.data.message;
                    });
                };
                
                $scope.delete = function (x) {
                    if(confirm('Are you sure??')){
                    $http.post("api/deleteinfo", x).then(function (response) {
                         $scope.info = response.data.data;
                         $scope.message = response.data.message;
                    });
                }
                };
            });

        </script>



    </body>
</html>